@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: #00000065;
    color: white;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: aliceblue;
    color: gray;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px dotted black;
    flex: 0 0 200px;
}

header > nav {
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px 3px 5px 3px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: #fc0101;
    color: #fded04;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

main {
    background-color: white;
    color: #494949;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 13px 3px 10px;
    box-shadow: 2px 2px 3px #ff01018a;
}