@charset "utf=8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkcyan;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 12px;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header p a:hover {
    text-decoration: underline;
    color: red;
    transition: 0.1ms;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: #afafaf;
    color: rgb(187, 40, 167);
    font-size: 1em;
}

section.imagem {
    background-color: darkblue;
    color: #fff;
}

section.imagem > p {
    width: 500px;
    background-color: #2222229a;
}

footer p a:hover {
    background-color: red;
    color: darkgray;
    padding: 9px;
    transition: 1ms;
    border-radius: 5%;
    border: 1px solid white;
}